@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@font-face {
     font-family: Montserrat;
     src:"./fonts"
   }
   @font-face {
     font-family: Monument;
     src:"./fonts"
   }

   /* tamanho da barra de rolagem*/
::-webkit-scrollbar{
     width:  13px;
      

}
::-webkit-scrollbar-track{
     /* caminho da barra
     sombra na barra*/
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
     background: transparent;
     width: 6px;
}
/* tamanho barrinha da barra de rolagem kk*/
::-webkit-scrollbar-thumb{
     background: #ffffff;
     border-radius: 30px;
     
}

html,figure,body,button, div, input, textarea,a, p, h1, h2, h3, h4, h5, h6, ul{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Monument;
     color: #dfdfdf;
     list-style: none;
     text-decoration: none;
     border:0ch
     
     
}
canvas {
     display: block;
}

body{
     background-color:rgb(161, 123, 245) ;
     background-image: linear-gradient( to right, rgb(204, 65, 242),rgb(134, 158, 241) 2000px );
     width: 1348px;

}

header{
    
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-around;
     width: 1349px;
     height: 80px;
     color: white;
}



header img{
     /*margin-right: 20px;*/
     width: 40px;
     height: 40px;
}
header a{
     font-family: Monument;
     color: #dfdfdf;
     font-weight: bolder;
     /*margin-top: 445px;*/
    font-size: 40px;
    margin-left: 825px;
}
.destaquePrincipal{
     margin-bottom: 80px;
}

.destaquePrincipal img {
     width: 1349px;
     height: 910px;
     margin-top: -305px;
}

.latest-Releases{
   display: flex;
   flex-direction: column;
   width: 60%;
   align-content: center;
   justify-content: space-around;


}

.latest-Releases h1{
     padding-left: 50px;
     margin-bottom: 30px;
}

h1{
     font-size: 40px;
}



.bio {

     color: white;
     font-size: 20px;
     background-image:url("./assets/foto1.png");
     background-size: 1373px;

     width: 1349px;
     height: 900px;
     margin-top: 100px;
 

}

.tituloBio{
     display: flex;
     flex-direction: row;
     margin-left: 80px;
}
.tituloBio img{
     margin-top: 20px;
     margin-bottom: 30px;
     width: 640px;
     height: 200px; 
 }
.titulobio .fotolateral img{
      width: 700px;

 }
.tituloBio{
     width:640px
}

.biotext img{
     width: 515px;
     height: 550px;  
}

.biotext {
      display:flex;
      margin-left: 80px;

}

.music a{
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
}

