@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@font-face {
     font-family: Montserrat;
     src:"./fonts"
}

@font-face {
     font-family: Monument;
     src:"./fonts"
}


   /* tamanho da barra de rolagem*/
::-webkit-scrollbar{
     width:  10px;
      

}

::-webkit-scrollbar-track{
     /* caminho da barra
     sombra na barra*/
    
     background: #ffffff;
     background: -moz-linear-gradient(top,  #ffffff 7%, #869ef1 7%, #869ef1 100%);
     background: -webkit-linear-gradient(top,  #ffffff 7%,#869ef1 7%,#869ef1 100%);
     background: linear-gradient(to bottom,  #ffffff 7%,#869ef1 7%,#869ef1 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#869ef1',GradientType=0 );
     
     width: 6px;
}

/* tamanho barrinha da barra de rolagem kk*/
::-webkit-scrollbar-thumb{
     background: #9e6da5;
     border-radius: 30px;
     
}

html,figure,body,button, div, input, textarea,a, p, h1, h2, h3, h4, h5, h6, ul{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Monument;
     color: #dfdfdf;
     list-style: none;
     text-decoration: none;
     border:0ch
     
     
}


body{
     background: #cc41f2;
     background: -moz-linear-gradient(left,  #cc41f2 24%, #cc41f2 24%, #869ef1 99%);
     background: -webkit-linear-gradient(left,  #cc41f2 24%,#cc41f2 24%,#869ef1 99%);
     background: linear-gradient(to right,  #cc41f2 24%,#cc41f2 24%,#869ef1 99%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc41f2', endColorstr='#869ef1',GradientType=1 );
     
}
  

.navbar{
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-around;
     position: sticky;
     top: 0;
     background-color: white;
     width: 100%;
     margin: 0 auto;
     font-weight: bolder;
     z-index: 10;
}

.navbar a{
     color: black;
     font-size: 70%;
     margin-left: 20%;
}

.navbar img{
    width: 3%;
    height: 3%;
    margin: 0.5%;
}

.navbar a:hover{
    border-bottom: solid black 3px;
}

.destaquePrincipal{
     margin-bottom: 38%;
     display: flex;
     flex-direction: column;
}

.destaquePrincipal img {
     width: 100%;
     height: 30%;
     margin-top: -13%;
}

.destaquePrincipal div{
    width: 360px;
    height: 50px;
}

.destaquePrincipal a{
     
     width: 360px;
     height: 50px;
     margin-top: -144px;
     margin-left: 182px;
}

.destaquePrincipal div:hover{
     border-bottom: solid rgb(255, 255, 255) 4px;
}


.latest-Releases{
   display: flex;
   flex-direction: column;
   width: 60%;
   align-content: center;
   justify-content: space-around;


}

.latest-Releases h1{
     padding-left: 50px;
}

h1{
     font-size: 40px;
}



.bio {

     color: white;
     font-size: 20px;
     background-image:url("./assets/foto1.png");
     background-size: 1373px;

     width: 1349px;
     margin-top: 100px;
 

}

.tituloBio{
     display: flex;
     flex-direction: row;
     margin-left: 80px;
}
.tituloBio img{
     margin-top: 20px;
     margin-bottom: 30px;
     width: 640px;
     height: 200px; 
}
.titulobio .fotolateral img{
      width: 700px;

}

.tituloBio{
     width:640px
}

.biotext img{
     width: 515px;
     height: 550px;  
}

.biotext {
      display:flex;
      margin-left: 80px;


}

.Listamarcos {
     display: flex;
     margin-top: 10px;
}

.marcos{
     margin-top: 15px; 
     font-size: 15px;
}

.music a{
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
}

footer{
     margin-top: 80px;
     background-color: azure;
     color: black;
     height: 350px;
}


.top{
     position: sticky;
     bottom: 0;
     padding-left: 1290px;
     scroll-behavior: smooth;

    
}

.top img{
     margin-bottom: 20px;
}

.top div{
     width: 50px;
}

.top img:hover{
     border: solid white 2px;
     border-radius: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 590px) {
     .navbar{
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-around;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          margin: 0 auto;
          font-weight: bolder;
          z-index: 10;
     }
     
     .navbar a{
          color: black;
          font-size: 120%;
          margin-left: 20%;
     }
     
     .navbar img{
         width: 4%;
         height: 4%;
         margin: 2.5%;
     }
     
     .navbar a:hover{
         border-bottom: solid black 3px;
     }     



}


@media screen and (max-width: 768px) {
        
}

@media screen and (min-width: 1200px) {
        
}