@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@font-face {
     font-family: Montserrat;
     src:"./fonts"
}

@font-face {
     font-family: Monument;
     src:"./fonts"
}


   /* tamanho da barra de rolagem*/
::-webkit-scrollbar{
     width:  10px;
      

}

::-webkit-scrollbar-track{
     /* caminho da barra
     sombra na barra*/
    
     background: #dacaf9;
     width: 6px;
}

/* tamanho barrinha da barra de rolagem kk*/
::-webkit-scrollbar-thumb{
     background: #9e6da5;
     border-radius: 30px;
     
}

html,figure,body,button, div, input, textarea,a, p, h1, h2, h3, h4, h5, h6, ul{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Monument;
     color: #dfdfdf;
     list-style: none;
     text-decoration: none;
     border:0ch
     
     
}


body{
     background: #cc41f2;
     background: -moz-linear-gradient(left,  #cc41f2 24%, #cc41f2 24%, #869ef1 99%);
     background: -webkit-linear-gradient(left,  #cc41f2 24%,#cc41f2 24%,#869ef1 99%);
     background: linear-gradient(to right,  #cc41f2 24%,#cc41f2 24%,#869ef1 99%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc41f2', endColorstr='#869ef1',GradientType=1 );
     
}
  

.navbar{
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-around;
     position: sticky;
     top: 0;
     background-color: white;
     width: 100%;
     margin: 0 auto;
     font-weight: bolder;
     z-index: 10;
}

.navbar a{
     color: black;
     font-size: 70%;
     margin-left: 20%;
     font-size: 130%;
}

.navbar img{
    width: 2.5%;
    height: 2.5%;
    margin: 0.5%;
}

.navbar a:hover{
    border-bottom: solid black 3px;
}

.destaquePrincipal{
     margin-bottom: 10%;
     display: flex;
     flex-direction: column;
}


.destaquePrincipal a{
     width: 27%;
     font-size: 50px;
     font-family: monument;
     text-transform: uppercase;
     font-weight: bolder;
     margin-left: 50px;
     margin-top:-220px;
}

.destaquePrincipal a:hover{
     border-bottom: solid rgb(255, 255, 255) 4px;
}


.latest-Releases{
   display: flex;
   flex-direction: column;
   /* width: 80%; */
   align-content: center;
   justify-content: center;
   align-items: center;
   margin-bottom: 6%;


}

.latest-Releases h1{
     margin-bottom:5%;
     margin-top: 6%;
}

h1{
     font-size: 300%;
     color: #ffffff
}



.bio {

     color: white;
     font-size: 20px;
     background-image:url("./assets/foto1.png");
     background-size: 1373px;

     width: 80%;
     margin-top: 100px;
     display:flex;
     margin: 0 auto;           
     flex-direction: row;
     flex-wrap: wrap;
     /* justify-content: center; */
     margin-bottom: 6%;

}

.tituloBio{
     
     display: flex;
     flex-direction: row;
     width:50%;
}
#tituloBioImage{
     margin-top: 20px;
     width: 80%;
     height: 30%;
 
}

#imgBio{
     /* padding-top:-19%; */
     width: 120%;
      /* padding-right:10% */
}


.biotext {
 
      /* margin-left: 10%; */
      width: 53%;
      margin-top: -40%;
      font-size: 110%;

}

.Listamarcos {
     display: flex;
     margin-top: 10px;
}

.marcos{
     margin-top: 5%; 
     font-size: 100%;
}



.music a{
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
}

.results{
     font-size: 20px;
     display:flex;
     flex:1;
     margin-top: -30px;
     margin-bottom: 6%;
     justify-content: center;

}

.results h1{
     margin-bottom: 20px;
  
}

.resultItem{
     margin:20px;
     padding-left: 50px;
     font-size: 150%;
}

.resultsList {
     display: flex;
     flex-direction: row-reverse;
     margin-top: 8%;
     color: #000000;
     justify-content:center;
}

.resultsList img {
     width: 40%;
     height: 30%;
     /* margin: -75px 0px 38px 68px; */
}

#imgInsta{
     margin-left: 20px;
}

footer{
     background-image: url("../assets/bgfooter.png");
     color: white;
     display:flex;
     flex-direction: column;
     align-items: center;
     align-content: center;       
      height: 500px;
}

.principal {
     display:flex;
     flex-direction: row;
     align-items: center;
     align-content: center;   
}

.social_link_item{
     display:flex;
     flex-direction: column;
     align-items: center;
     align-content: center; 
     margin: 50px; 
}
.social_link_item h4{
     font-family: Montserrat;
}

.social_link_item i{
     color: #cc41f2;
}

.social_link{
     height: 400px;
     padding-right: 445px;
}

.youtube {
     display: flex;
     justify-content: center;
     align-items: center;
}

.ph-tiktok-logo-fill{
     width: 16px;
     height: 16px;
     padding-left: 37px
}

.bottom_container p{
     font-family: montserrat;
     font-weight: lighter;
     font-size: 13px;
     margin-bottom: 20px;
}

.bottom_container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
}

.contact h3{
     font-size: 40px;
     
}

.contact h4{
     font-size: 20px;
     color:blueviolet;
}
.contact{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
}


.youtube div{
     margin-left: 50px;
     width: 300px
}

.youtube h3{
     font-size: 50px;
     text-shadow: -7px 7px #3e0c6b;
     text-align: end;
}
.youtube iframe{
     box-shadow: -20px 20px #3e0c6b;
}
.top{
     position: sticky;
     bottom: 0;
     padding-left: 96%;
     scroll-behavior: smooth;
     margin-bottom: 2%;
}


.top div{
     width: 10%;
}

.top img:hover{
     border: solid white 2px;
     border-radius: 100%;
  
}

.social_link_item a{

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 590px) {
     /* .navbar{
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-around;
          position: sticky;
          top: 0;
          background-color: white;
          width: 100%;
          margin: 0 auto;
          font-weight: bolder;
          z-index: 10;
     }
     
     .navbar a{
          color: black;
          font-size: 120%;
          margin-left: 20%;
     }
     
     .navbar img{
         width: 4%;
         height: 4%;
         margin: 2.5%;
     }
     
     .navbar a:hover{
         border-bottom: solid black 3px;
     }      */



}


@media screen and (max-width: 768px) {
        
}

@media screen and (min-width: 1200px) {
        
}